<!DOCTYPE html>
<html ng-app="adressBuchApp">
    <head>
        <title>Adressbuch</title>
        <meta charset="utf-8">
        <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <script src="static/js/lib/jquery-1.11.3.min.js"></script>
        <script src="static/js/lib/bootstrap.min.js"></script>
    </head>
    <body class="container-fluid" ng-controller="mainController" ng-init="init()">
    <div class="panel panel-default">
        <div class="panel-heading"><h1>Adressbuch</h1></div>
        <table class="table">
            <tr>
                <th ng-repeat="title in titles">{{title}}</th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" class="form-control" id="sucheNachVorname" placeholder="Enter Vorname" ng-model="vorname" ng-change="filter(vorname, nachname, postleitzahl, wohnort)"></td>
                <td><input type="text" class="form-control" id="sucheNachNachname" placeholder="Enter Nachname" ng-model="nachname" ng-change="filter(vorname, nachname, postleitzahl, wohnort)"></td>
                <td></td>
                <td><input type="text" class="form-control" id="sucheNachPostleitzahl" placeholder="Enter Postleitzahl" ng-model="postleitzahl" ng-change="filter(vorname, nachname, postleitzahl, wohnort)"></td>
                <td><input type="text" class="form-control" id="sucheNachWohnort" placeholder="Enter Wohnort" ng-model="wohnort" ng-change="filter(vorname, nachname, postleitzahl, wohnort)"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="record in records track by $index" ng-class="record.enabled == 1 ? 'success' : 'warning'">
                <td>{{record.id}}</td>
                <td>{{record.firstname}}</td>
                <td>{{record.lastname}}</td>
                <td>{{record.adress}}</td>
                <td>{{record.zip_code}}</td>
                <td>{{record.city}}</td>
                <td>{{record.phone_number}}</td>
                <td>{{record.birthdate}}</td>
                <td>
                    <button class="btn btn-default" ng-click="changeAktiv(record.id)">
                        <span class="glyphicon" aria-hidden="true" ng-class="record.enabled != 1 ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                    </button>
                </td>
            </tr>
        </table>
        <span ng-if="records.length == 0"><strong>No results found...</strong></span>
        <span ng-if="message"><strong>{{message}}</strong></span>
        <script src="static/js/lib/angular.min.js"></script>
        <script type="text/javascript">
            angular.module('adressBuchApp', []);
        </script>
        <script src="static/js/controllers/mainController.js"></script>

    </div>

    </body>
</html>